
@font-face {
  font-family: 'MetaSerif-Book';
  src: url('MetaSerif-Book.eot?#iefix') format('embedded-opentype'),  url('MetaSerif-Book.otf')  format('opentype'),
	     url('MetaSerif-Book.woff') format('woff'), url('MetaSerif-Book.ttf')  format('truetype'), url('MetaSerif-Book.svg#MetaSerif-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
